#map{
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
h1,h3{text-align: center;}
article{
    background-color: beige;
    margin-top: 2rem;
    padding: 1rem;
}
img{width:30rem;}